{% extends 'base.html.twig' %}

{% block title %}Mes réservations{% endblock %}

{% block body %}
    <div class="container">
        <h1>Réservations</h1>
        <div class="alert alert-info mt-3">
            <p>Retrouvez ci-dessous toutes vos réservations</p>
        </div>

        {% for booking in app.user.bookings %}
            <div class="row bg-light my-3">
                <div class="col-4 my-4">
                    <img src="{{ booking.advert.coverImage }}" alt="Photo de l'annonce {{ booking.advert.title }}" class="image-fluid w-100">
                </div>
                <div class="col-8">
                    <h4>{{ booking.advert.title }}</h4>
                    <p>
                        Réservation <strong>n° {{ booking.id}}</strong><br>
                        Du {{ booking.startDate | date('d/m/Y') }} au {{ booking.endDate | date('d/m/Y') }}.
                        Prix total: {{ booking.amount }} &euro;
                    </p>
                    <a href="{{ path('booking_show', {'id': booking.id }) }}" class="btn btn-info">Plus d'informations</a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %} 