{% extends "base.html.twig" %}

{% block title %}Réservation n° {{ booking.id }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>Votre réservation</h1>

        {% if app.request.query.get('success') %}
            <div class="alert alert-success">
                <h4 class="alert-heading">Bravo!</h4>
                <p>
                Votre réservation auprès de 
                    <a href="{{ path("user_show", {"slug" : booking.advert.author.slug }) }}">{{ booking.advert.author.firstName }} {{ booking.advert.author.lastName }}</a>
                pour l'annonce {{ booking.advert.title }}
                
                a bien été prise en compte !
                </p>
            
            </div>
        {% endif %}

        <div class="row mt-3">
            <div class="col">
                <div class="alert alert-warning">
                    <h2 pb-5>Détails</h2>
                    <dl class="row">
                        <dt class="col-md-5">Numéro</dt>
                        <dd class="col-md-7">{{ booking.id }}</dd>
                        <dt class="col-md-5">Date de départ</dt>
                        <dd class="col-md-7">{{ booking.startDate | date('d/m/Y') }}</dd>
                        <dt class="col-md-5">Date de dépôt</dt>
                        <dd class="col-md-7">{{ booking.endDate | date('d/m/Y') }}</dd>
                        <dt class="col-md-5">Nombre de jours</dt>
                        <dd class="col-md-7">{{ booking.duration }}</dd>
                        <dt class="col-md-5">Montant total</dt>
                        <dd class="col-md-7">{{ booking.amount | number_format(2, ',', ' ')}} &euro;</dd>
                        <dt class="col-md-5">Vos commentaires</dt>
                        <dd class="col-md-7">{{ booking.comment | default("Aucun commentaire") }}</dd>
                    </dl>
                    <hr/>
                    <h2 class="alert-heading">Votre loueur</h2>
                    <div class="row">
                        <div class="col-3">
                            <img src="{{ booking.advert.author.picture }}" class="avatar avatar-medium" alt="Photo du propriétaire du véhcule">
                        </div>
                        <div class="col-9">
                            <h4>
                                <a href="{{ path('user_show', {'slug' : booking.advert.author.slug })}}">{{ booking.advert.author.firstName }} {{ booking.advert.author.lastName }}</a>
                            </h4>
                            <span class="badge badge-primary">{{ booking.advert.author.adverts | length}} annonces</span>
                        </div>
                    </div>
               </div>
               <div class="alert alert-light" id="comment">
                        <h2 class="alert-heading">Votre avis compte ! </h2>
                        {% if date() > date(booking.EndDate) %}
                            {% set comment = booking.advert.commentFromAuthor(app.user) %}
                            {% if comment is not null %}
                                <blockquote>{{ comment.content}}</blockquote>
                                <strong>Note: </strong>{% include 'partials/rating.html.twig' with {'rating': comment.rating} %}
                            {% else %}
                                {{ form_start(form) }}
                                 {{ form_widget(form) }}
                                    <button type="submit" class="btn btn-success">Confirmer ! </button>
                                 {{ form_end(form) }}
                            {% endif %}
                        {% else %}
                            <p>Vous ne pourrez pas noter cette réservation avant la date de restitution</p>
                        {% endif %}
                </div>
            </div>
            <div class="col">
                <div class="alert alert-warning">
                    <h2 class="alter-heading">Votre véhicule</h2>
                    <h4>
                        <a href="{{ path('adverts_show', {'slug': booking.advert.slug }) }}">{{ booking.advert.title  }}</a>
                    </h4>
                    <img class="img-fluid mb-3"src="{{ booking.advert.coverImage }}" alt="Image du véhicule">
                    {{ booking.advert.content }}
                    <hr>
                    <a href="{{ path('adverts_show', {'slug': booking.advert.slug }) }}" class="btn btn-primary">Plus d'informations</a>
                </div>
            </div>
        </div>
    
    </div>

{% endblock %}