{% extends 'admin/base.html.twig' %}

{% block title %}Administration des commentaires{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="my-5">Gestion des commentaires</h1>

        <table class="table table-hover">
            <thead>
                <tr>
                    
                    <th>Date</th>
                    <th>Auteur</th>
                    <th>Commentaire</th>
                    <th>Note</th>
                    <th>Titre de l'annonce</th>                    
                    <th>Actions</th>
                </tr>            
            </thead>
            <tbody>
                {% for comment in comments %}
                <tr>
                    
                    <td>{{ comment.createdAt | date('d/m/Y')}}</td>
                    <td>
                        <img class="img-thumbnail avatar-admin" src="{{ comment.author.picture}}" alt=""><br>
                        {{ comment.author.firstName }} {{ comment.author.lastName }}
                    </td>
                    <td>{{ comment.content }}</td>
                    <td>
                        <span class="badge badge-dark">{{ comment.rating }}</span>                    
                    </td>
                    <td>{{ comment.advert.title }}</td>                    
                    <td>
                        <a href="{{ path('admin_comments_edit', {'id': comment.id}) }}" class="btn btn-primary mb-2"><i class="fas fa-edit"></i></a>
                        <a href="{{ path('admin_comments_delete', {'id': comment.id}) }}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                    </td>                
                </tr>
                {% endfor %}
            
            
            </tbody>
        
        
        </table>
    
    </div>
{% endblock %}
