{% extends 'base.html.twig' %}

{% block title%}
    Le  meilleur réseau de voitures entre particuliers
{% endblock %}
{% block body %}

<div class="container">
    <div class="jumbotron mt-2">
        <h1 class="display-3" id="bienvenue">Bienvenue sur RentMyCar</h1>
            <img class="img-fluid w-25 mx-auto pb-2" src="images/voiture.png" alt="voiture jaune">
        <p class="lead float-right mr-3 mt-3">Vous n'avez pas toujours besoin de votre véhicule? Louez-le !</p>
        <hr class="my-4">
        <p>Vous avez le permis mais pas de voiture?  Vous voulez bénéficier d'un véhicule pour votre prochain déplacement ou pendant vos vacances?</p>
        <p class="lead">
            <a id="voirAnnonces"class="btn btn-primary btn-lg mt-3" href="{{ path('adverts_index')}}" role="button">Voir nos annonces</a>
        </p>
    </div>
    <h2 id="stars">Nos voitures stars</h2>
    <div class="row mt-4 mb-3">
        {% for data in adverts %}
            {% include 'advert/_adverts.html.twig' with {'advert': data.annonce} %}
        {% endfor %}
    </div>

    <h2 id="proprioStars"class="mt-4 mb-3">Nos propriétaires stars</h2>
    <div class="row">
    {% for data in users %}
        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title">{{data.user.firstName}} {{data.user.lastName}}</h4>
                    <hr>
                    <div class="card-text">
                        <img src="{{data.user.picture}}" alt="Avatar de {{data.user.firstName}} {{data.user.lastName}}" class="float-left mr-3">
                        <p>{{data.user.introduction}}}</p>
                        <a href="{{ path('user_show', {'slug': data.user.slug })}}" class="btn btn-success float-right">En savoir plus!</a>
                    </div>
                </div>

            </div>
        </div> 
        {% endfor %} 
        
    </div>
</div>
{% endblock %}