{% block _advert_images_widget %}
    <p>Ici, vous pouvez ajouter vos propres images!</p>
    {{ form_widget(form) }}

    <input type="hidden" id="widgets-counter" value="0">

    <div class="form-group">
        <button type=" button" id="add-image" class="btn btn-primary"><i class="fas fa-plus"></i> Ajouter une image</button>
    </div>

{% endblock %}
{% block _advert_images_entry_row %} {# theme qui va etre récupéré poar form#}
    
    {{ form_widget(form) }} {# je n'appelle plus que le widget d'une entree qui est 2 champs, je ne veux pas toute la row qui me donne le labl les erreurs et les aides#}
{% endblock %}
{% block _advert_images_entry_widget %}
    <div class="form-group" id="block_{{id}}"> {#je recupere l'id dans les variables du champ - vir dump#}
        {{ form_errors (form) }}
        <div class="row">
            <div class="col-10">
                <div class="row">
                    <div class="col">
                        {{ form_widget(form.url) }}
                        {{ form_errors(form.url) }} {# permet moi d'afficher les erreurs sur l'url#}
                    </div>
                    <div class="col">
                        {{ form_widget(form.caption) }}
                        {{ form_errors(form.caption) }} {# permet moi d'afficher les erreurs sur le caption #}
                    </div>
                </div>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-danger" data-action="delete" data-target="#block_{{id}}">X</button>
            </div>
        </div>        
    </div>
{% endblock %}