{% extends 'base.html.twig' %}

{% block title %}Page de {{ user.firstName }} {{ user.lastName }}

{% endblock %}

{% block body %}
<div class="container">
    <div class="row align-items-center mb-5">
        <div class="col-md-3 text-center">
            <img src="{{ user.picture }}" class="avatar mb-3"alt="Avatar de {{ user.firstName }} {{ user.lastName }}">
            <br/>
            <span class="badge badge-primary">{{ user.adverts | length }} annonce(s)</span>
        </div>
        <div class="col-md-9" id="profil">
            <h1 id="userh1">{{ user.firstName }} {{ user.lastName }}</h1>
            {% if user is same as (app.user)%}
            {# is same permet de comparer 2 objets, je veux être sùre que c'est bien le compte mon user que je regarde et non celui d'un user dont je veux voir les annonces#}
                <a href="{{ path('account_profile') }}" class="btn btn-primary mr-3 profil">Modifier mon profil</a>
                <a href="{{ path('account_password') }}" class="btn btn-primary profil">Modifier mon mot de passe</a>
            
            {% endif %}
        </div>
    </div>
    {{ user.description | raw }}
    <hr/>
    <h2>Mes annonces: </h2>
    {% if user.adverts | length > 0 %}
        <div class="row mt-4">
            {% for advert in user.adverts %}
                {% include "advert/_adverts.html.twig" %}
            {% endfor %}
        </div>
    {% else %} 
        <div class="alert alert-warning">
            <p>
               <strong>{{ user.firstName }} {{ user.lastName }}</strong> n'a pas encore d'annonce sur le site !
            </p>
        </div>   
    {% endif %}
</div>

{% endblock %}
